body {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 37.5rem;
    max-height: 37.5rem;
}

header {
    margin-top: 6.5rem;
}

::placeholder {
    font-family: 'Shadows Into Light', cursive;
}

label {
    display: block;
    margin-top: 10rem;
    font-size: 2rem;
}

input[type="text"] {
    margin-top: 3rem;
    padding: 1.5rem;
    width: 70%;
    max-width: 30.75rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

#error {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.hidden {
    display: none;
}