button {
    margin: 3rem 1rem 1rem 3rem;
    padding: 2rem 4.5rem;
    background-color: rgba(223, 142, 88, 0);
    font-size: 1.5rem;

    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 1.5rem;
    background-image: url('../images/PSX_20240327_153444.png');
    background-size: cover;
    background-repeat: no-repeat;

    width: 15rem;
    justify-content: center;
    align-items: center;
}

body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

h1 {
    color: white;
}


