/*
12 fixed treasures, 4 fixed pawns (16 fixed tiles)

6 treasure corners
6 treasure t junctions

total fixed tiles and treasures = 28
total board tiles = 49

12 straight paths
10 corner paths

total regular paths = 22
There will always be one tile left to shove in the board.


Fixed tiles need to be on the correct position according to the treasures on the hand of coordinates (16).
the remaining 12 treasure tiles need to be shuffled and placed on the board randomly (28) + 21 regular tiles mixed of corners and straights (49).

This results in either a spare straight or corner tile that can be used to slide into the board.

Pawns need to be placed on the corners of the board with the corresponding color.

Pawns can move as far as they want until they hit a dead end, stopping sooner is allowed after they slid a tile in the board.
multiple pawns can be on the same tile.

A tile may not be slid into the board at the place it just slid out of.

Tiles can only be slid into the board from the sides, not from the corners.
Tiles can only be slid into designated rows or columns.
*/


header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

main {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr;

    /*  background: #007bff;*/
}

.square {
    border: 0.1rem solid black;
    text-align: center;
}

#leftMenu {
    margin: 0 auto;
    text-align: center;
    width: 30rem;
}

#leftMenu h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.3rem;
}

#leftMenu ul li {
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
}

#board {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#board div {
    padding: 0.1rem;
    background: #df8e58;
}

#boardBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background: aqua;
}

img {
    width: 5rem;
    z-index: -1;
}

/*#playerList {
    padding: 1rem;

}*/

#playerList li {
    margin-bottom: 0.5rem;
    background-image: url('../images/button-background.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}


#obtainedTreasure {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    padding: 1rem;
    background: blue;
}

#obtainedTreasure li {
    margin-right: 1rem;
}

#treasureList {
    display: flex;
    flex-flow: row wrap;

}

#treasureList li {
    width: 6rem;
    margin-top: 5rem;
}

#treasureList li img {
    border-radius: 0.5rem;
    height: 100%;
    justify-content: flex-start;
}
