header h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main .joinGameWrapper {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

main .findGameIdWrapper {
    display: flex;
    justify-content: space-between;
}

main #gameList {
    padding: 2rem;
    margin-top: 1rem;
    color: white;
    border: thick solid  saddlebrown;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(154,90,23,1) 40%, rgba(223,142,88,1) 100%);
    border-radius: 1rem;
    text-align: center;
    /*#df8e58*/
}

main #gameList div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .paragraphWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

main .paragraphWrapper p {
    padding: 0.5rem;
    background-color: saddlebrown;
    width: 46rem;
    border-radius: 0.6rem;
}

main .paragraphWrapper .gameId {
    margin-right: 20rem;
}

main .paragraphWrapper .gameMode {
    margin-right: 10rem;

}




