body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

header h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}
main{
    height: 10000rem;
}
main .joinGameWrapper {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

main .findGameIdWrapper {
    display: flex;
    justify-content: space-between;
}

main #gameList {
    background-color: yellow;
    padding: 2rem;
    margin-top: 1rem;
}

main #gameList div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .paragraphWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: steelblue;
}

main .paragraphWrapper p {
    padding: 0.5rem;
    background-color: cyan;
    width: 50rem;
}

main .paragraphWrapper .gameId {
    margin-right: 20rem;
}

main .paragraphWrapper .gameMode {
    margin-right: 10rem;
    background-color: pink;
}




