body {
    overflow: auto;
}

header h2 {
    text-align: center;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

main .joinGameWrapper {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

main .findGameIdWrapper {
    display: flex;
    justify-content: space-between;
}

main .findGameLayout {
    font-family: 'Shadows Into Light', cursive;
    border: #623302 solid 0.2rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    background-color: #8e591f;
    color: white;
}

main .findGameLayout::placeholder {
    color: white;
}

main .findGameLayout:hover, main .findGameLayout:focus {
    border-color: #df8e58;
    outline: none;
}

main #gameList {
    padding: 2rem;
    margin-top: 1rem;
    color: white;
    border: thick solid #623302;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(99, 46, 20, 1) 22%, rgba(142, 89, 31, 1) 85%);
    border-radius: 1rem;
    text-align: center;

    /*#df8e58*/
    /* background: rgb(0,0,0);
     background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(154,90,23,1) 40%, rgba(223,142,88,1) 100%);*/
}

main #gameList div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .paragraphWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

main .paragraphWrapper p {
    padding: 0.5rem;
    background: black;
    width: 46rem;
    border-radius: 0.6rem;
    border: #623302 solid 0.2rem;
}

main .paragraphWrapper .gameId {
    margin-right: 20rem;
}

main .paragraphWrapper .gameMode {
    margin-right: 10rem;
}

main .joinButton {
    width: 7rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    border-radius: 0.6rem;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(154, 90, 23, 1) 40%, rgba(223, 142, 88, 1) 100%);
    border-color: #623302;
    color: white;
}

main .joinButton:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 43%, rgba(99, 46, 20, 1) 70%, rgba(142, 89, 31, 1) 100%);
}

 footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer .backButton {
    width: 10rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-align: center;
    border-radius: 0.6rem;
    background-color: black;
    color: white;
    border: black solid 0.2rem;
}

footer .backButton:hover {
    border: rgba(223, 142, 88, 1) solid 0.2rem;
    color: rgba(223, 142, 88, 1);
}









