@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    background-image: url("../images/background.png");
    background-size: cover;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: hidden;
    max-height: 100vh;
}

header {
    font-family: 'Shadows Into Light', cursive;
    color: aliceblue;
    font-size: 6rem;
}

button {
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}

.fancyButton {
    padding: 2rem 4.2rem;
    background-color: rgba(223, 142, 88, 0);
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-image: url('../images/button-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}